version: "3"
services:
  ecart_seller_frontend:
    tty: true
    ports:
      - 3000:3000
    build:
      context: ../../
      dockerfile: ./docker/dev/Dockerfile.dev
    volumes:
      - ../../:/home/app/ecart-seller-frontend
    networks:
      - dev_frontend_network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    container_name: ecart_seller_dev_frontend_next

networks:
  dev_frontend_network:
    name: ecart_seller_dev_frontend_network
