/* Make clicks pass-through */
/* body div#nprogress .bar {
  background: red !important;
} */
/* #nprogress .bar {
  background: red !important;
  top: 64px !important;
  height: 2px !important;
} */

/* Fancy blur effect */
/* #nprogress .peg {
  box-shadow: none !important;
} */

/* Remove these to get rid of the spinner */
/* #nprogress .spinner-icon {
  border-top-color: red !important;
  border-left-color: red !important;
} */
